<div class="users-main">
    <h1>Admin</h1>
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="info">
                <th>
                    <a href="" ng-click="model.sort('username')" id="usr"><span class="caret"></span></a>
                    <label for="usr">Username</label>
                </th>
                <th>
                    <label>Email</label>
                </th>
                <th>
                    <label>Phone</label>
                </th>
                <th>
                    <a href="" ng-click="model.sort('role')" id="rol"><span class="caret"></span></a>
                    <label for="rol">Role</label>
                </th>
                <th>
                    <label>Action</label>
                </th>
            </thead>
            <tr>
                <td><input ng-model="model.selected.username" class="form-control" type="text" placeholder="username"></td>
                <td><input ng-model="model.selected.email" class="form-control" type="email" placeholder="Email"></td>
                <td><input ng-model="model.selected.phone" class="form-control" type="text" placeholder="Phone Number"></td>
                <td>
                    <select ng-model="model.selected.role" class="form-control" type="text">
                        <option value="general">general</option>
                        <option value="admin">admin</option>
                        <option value="editor">editor</option>
                    </select>
                </td>
                <td>
                    <button ng-click="model.addUser(model.selected)" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button ng-click="model.updateUser(model.selected)"
                            ng-show="model.selected" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="user in model.users" ng-class="{success: $index == model.selectedIndex}">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button class="btn btn-danger btn-md">
                        <span ng-click="model.removeUser(user)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <button ng-click="model.selectUser($index)" class="btn btn-primary btn-md">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
