<div class="row">
    <div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 register-group">
        <form class="form-horizontal">
            <div class="form-group">
                <h1 class="form-control-static">Login</h1>
            </div>
            <div class="form-group">
                <input id="login-username" ng-model="model.user.username" type="text" class="form-control" placeholder="username">
            </div>
            <div class="form-group">
                <input id="login-password" ng-model="model.user.password" type="password" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
                <button ng-click="model.login(model.user)" class="btn btn-info">Login</button>
            </div>
        </form>
    </div>
</div>