<div class="row users-main">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <h1>Hello! {{model.user.username}}</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="password" class="col-sm-1 col-md-1 control-label">Password:</label>
                <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                    <input ng-model="model.user.password" type="password" class="form-control" id="password"
                           placeholder="{{model.user.password}}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-1 col-md-1 control-label">Email:</label>
                <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                    <input ng-model="model.user.email" type="email" class="form-control" id="email"
                           placeholder="{{model.user.email}}">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-1 col-md-1 control-label">Phone:</label>
                <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                    <input ng-model="model.user.phone" type="text" class="form-control" id="phone"
                           placeholder="{{model.user.phone}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 col-md-1 control-label">Role: </label>
                <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                    <p><strong>{{model.user.role}}</strong></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-lg-9 col-lg-offset-2">
                    <button ng-click="model.update(model.user)" class="btn btn-primary">Update</button>
                    <a href="#/admin" ng-show="model.user.role === 'admin'" class="btn btn-primary">Admin</a>
                    <a href="#/user/comments" ng-show="model.user.role === 'editor'" class="btn btn-primary">Comments</a>
                </div>
            </div>
        </form>
    </div>
</div>