<div class="row">
    <div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-3 register-group">
        <form class="form-horizontal">
            <div class="form-group">
                <h1 class="form-control-static">Register</h1>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="model.user.username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="model.user.password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-info" ng-click="model.register(model.user)">register</button>
            </div>
        </form>
    </div>
</div>