<div class=" col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>Form Fields:</h2>
    <h3>Registration Form</h3>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/form">Form</a></li>
        <li role="presentation" class="active"><a href="#/field">Fields</a></li>
    </ul>
    <form>
        <div class="form-group form-elem">
            <h4><label for="fname">First Name:</label></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <input type="text" id="fname" class="form-control" placeholder="first name">
                        <div class="input-group-btn">
                            <a href="#" id="fname-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#fname-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-elem">
            <h4><label for="lname">Last Name:</label></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <input type="text" id="lname" class="form-control" placeholder="last name">
                        <div class="input-group-btn">
                            <a href="#" id="lname-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#lname-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-elem">
            <h4><label for="date">Date of Birth:</label></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <input type="date" id="date" class="form-control" placeholder="mm/dd/yyyy">
                        <div class="input-group-btn">
                            <a href="#" id="date-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#date-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-elem">
            <h4><label for="gender">Gender:</label></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <div class="input-group">
                            <input id="gender" type="text" class="form-control" aria-label="...">
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Male</a></li>
                                    <li><a href="#">Female</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <a href="#" id="gender-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#gender-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-elem">
            <h4><strong>Role:</strong></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <div class="checkbox">
                            <label><input type="checkbox">Admin</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Student</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">User</label>
                        </div>
                        <div class="input-group-btn">
                            <a href="#" id="role-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#role-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-elem">
            <h4><label for="l-a">Lisence Agreement:</label></h4>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <div><label><input type="radio" name="agreement" id="l-a">Yes</label></div>
                        <div><label><input type="radio" name="agreement">No</label></div>
                        <div class="input-group-btn">
                            <a href="#" id="agree-control"
                               class="btn btn-default dropdown-toggle visible-xs-* hidden-sm hidden-md hidden-lg"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="#agree-control">
                                <li><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-align-justify"
                                                      aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="btn-group hidden-xs">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class=" glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group form-elem">
            <h4><label for="add-new">Add New Field:</label></h4>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="input-group">
                        <select ng-model="model" ng-options="typeName in model.fieldType"
                                class="form-control ng-pristine ng-valid ng-touched" ng-change="selectModel()"></select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="btn-group">
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
