<div class="row page-content">
    <div class="col-lg-9 col-md-9">
        <!--The movie poster-->
        <div class="container">
            <div class="col-lg-5 col-md-5">
                <img ng-src="{{model.post.Poster}}" height="400" width="280">
            </div>
            <!--The movie information-->
            <div class="col-lg-4 col-md-4">
                <h2>{{model.post.Title}}</h2>
                <h4>Director: {{model.post.Director}}</h4>
                <h4>Actors: {{model.post.Actors}}</h4>
                <h4>Awards: {{model.post.Awards}}</h4>
                <p>Discription: {{model.post.Plot}}</p>
                <!--Put Rating graphic here-->
            </div>
        </div>
        <hr class="divider">
        <!--Comment form-->
        <div class="well comment">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea ng-model="model.comment.content" class="form-control" rows="3" title="Your comment here"></textarea>
                </div>
                <button ng-click="model.submit(model.comment)" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr>
        <!-- Comment of this movie-->
        <div class="media" ng-repeat="com in model.comments">
            <div class="media-body">
                <h4 class="media-heading">{{com.user}}
                    <small>{{com.time}}</small>
                </h4>
                {{com.content}}
            </div>
        </div>
    </div>
    <div ng-include="'views/search/search_bar.view.html'"></div>
</div>