<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Register</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputusername" class="col-sm-1 col-md-1 control-label">Username:</label>
            <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                <input type="text" class="form-control" id="inputusername" placeholder="username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword" class="col-sm-1 col-md-1 control-label">Password:</label>
            <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                <input type="password" class="form-control" id="inputpassword" placeholder="password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputverify" class="col-sm-1 col-md-1 control-label">Verify Password:</label>
            <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                <input type="password" class="form-control" id="inputverify" placeholder="Verify Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputemail" class="col-sm-1 col-md-1 control-label">Email:</label>
            <div class="col-sm-8 col-sm-offset-1 col-md-9 col-md-offset-1">
                <input type="email" class="form-control" id="inputemail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>
