<!-- Page Content -->
<div class="row" ng-controller="HomeController as model">
    <div class="col-lg-8 col-lg-offset-2">
        <form class="main-search">
            <ul class="nav nav-pills" ng-model="model.req.type">
                <li role="presentation" ng-class="{active: model.req.type == 'movie'}">
                    <a href="" ng-click="model.setType('movie')">Movie</a>
                </li>
                <li role="presentation" ng-class="{active:model.req.type == 'series'}">
                    <a href="" ng-click="model.setType('series')">TV</a>
                </li>
            </ul>
            <div class="input-group search-bar">
                <input type="text" class="form-control input-lg" ng-model="model.req.name"
                       placeholder="Search by title or imdbID ...">
                        <span class="input-group-btn">
                                <button ng-click="model.search(model.req)" class="btn btn-success btn-lg">
                                    <span class="glyphicon glyphicon-search " aria-hidden="true"></span></button>
                        </span>
            </div><!-- /input-group -->
        </form>
    </div>
</div>