<div class="col-lg-3 col-md-3" ng-controller="BarController as model">
    <div class="well">
        <form>
            <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                <input type="text" ng-model="model.req.name" class="form-control" placeholder="search for...">
                    <span class="input-group-btn">
                        <button ng-click="model.search(model.req)" class="btn btn-default">Go!</button>
                    </span>
            </div>
            <select ng-model="model.req.type" class="form-control">
                <option>Group By</option>
                <option value="movie">Movie</option>
                <option value="series">TV</option>
            </select>
        </form>
    </div>
</div>