<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController as model">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Online Movie Info</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser" ng-class="{active: location.url() == '/register'}">
                    <a ng-click="model.register()" href="">Register</a>
                </li>
                <li ng-hide="currentUser" ng-class="{active: location.url() == '/login'}">
                    <a ng-click="model.login()" href="">login</a>
                </li>
                <li ng-show="currentUser" ng-class="{active: location.url() == '/profile'}">
                    <a ng-click="model.pro(currentUser)" href="">{{currentUser.username}}</a>
                </li>
                <li ng-show="currentUser">
                    <a ng-click="model.logout()" href="">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>